@font-face {
  font-family: "Messina";
  src: url("../docs/assets/fonts/MessinaSans_Complete_Upright_Variable_Web_Trial.woff"), url("../docs/assets/fonts/MessinaSans_Complete_Upright_Variable_Web_Trial.woff2");
}
@font-face {
  font-family: "Messina";
  font-style: italic;
  src: url("../docs/assets/fonts/MessinaSans_Complete_Italic_Variable_Web_Trial.woff"), url("../docs/assets/fonts/MessinaSans_Complete_Italic_Variable_Web_Trial.woff2");
}
@font-face {
  font-family: "Messina Modern";
  src: url("../docs/assets/fonts/MessinaModern_Variable_Upright_Web_Trial.woff"), url("../docs/assets/fonts/MessinaModern_Variable_Upright_Web_Trial.woff2");
}
.t1 {
  font-size: 6rem;
  font-weight: 100;
  letter-spacing: -0.04em;
  line-height: 1;
}

.t2 {
  font-size: 4rem;
  font-weight: 200;
  letter-spacing: -0.03em;
  line-height: 1.1;
}

.t3 {
  font-size: 3rem;
  font-weight: 200;
  letter-spacing: -0.02em;
  line-height: 1.15;
}

.t4 {
  font-size: 2.5rem;
  font-weight: 200;
  letter-spacing: -0.01em;
  line-height: 1.25;
}

.t5 {
  font-size: 2.25rem;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.275;
}

.t6 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.3;
}

.s1 {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 1rem;
  font-weight: 500;
}

.s2 {
  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-size: 0.875rem;
  font-weight: 500;
}

.s3 {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 0.75rem;
  font-weight: 500;
}

.p1 {
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.4;
}

.p2 {
  font-size: 1rem;
  line-height: 1.5;
}

.p3 {
  font-size: 0.875rem;
  line-height: 1.5;
}

@keyframes grow {
  0% {
    width: 0;
  }
  100% {
    width: calc(100% + 2px);
  }
}
@keyframes blink-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
:root {
  --gap: 2rem;
  --quarter-gap: calc(var(--gap) / 4);
  --half-gap: calc(var(--gap) / 2);
  --double-gap: calc(var(--gap) * 2);
  --quad-gap: calc(var(--gap) * 4);
}

* {
  box-sizing: border-box;
  border-collapse: collapse;
}

dl,
dt,
dd,
ul,
li,
menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Messina Modern";
  font-size: inherit;
}

.secret {
  grid-column-start: 3;
  grid-column-end: 8;
  background-color: #e5e5e5;
  display: flex;
  justify-content: center;
  font-size: 1rem !important;
}

.no-wrap {
  white-space: nowrap;
}

button {
  background: none;
  padding: 0;
  border: none;
  cursor: pointer;
}

body,
input,
button {
  font-family: "Messina";
  font-weight: normal;
  font-size: 100%;
  color: #000000;
  line-height: 1.5;
  word-break: break-word;
  margin: 0;
}

body {
  position: relative;
  background-color: #ffffff;
}

main {
  margin: var(--gap);
}
main .cta {
  max-width: 65ch;
  margin-block: 6rem;
}
main .cta a {
  display: inline-block;
  border: 1px #000000 solid;
  padding: 1rem;
  text-decoration: none;
  color: #000000;
  font-weight: 600;
  margin-block-start: 1rem;
}
main dl {
  border: 1px rgba(153, 153, 153, 0.2) solid;
  border-radius: 0.75rem;
  display: flex;
  padding: var(--gap) var(--half-gap);
  gap: var(--gap);
  font-size: 0.75rem;
}
main dl div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--quarter-gap);
  flex-wrap: wrap;
}
main dl div dt {
  text-align: center;
  word-break: keep-all;
  margin-block-end: auto;
}
main dl div dd {
  width: 0.75rem;
  height: 0.75rem;
  margin-block: auto;
  border-radius: 50%;
  background-color: #000000;
  flex-shrink: 0;
  font-size: 0;
  order: -1;
}
main dl div.immunology dd {
  background-color: #732D87;
}
main dl div.infectious dd {
  background-color: #237846;
}
main dl div.oncology dd {
  background-color: #E16E1E;
}
main dl div.cardio dd {
  background-color: #666666;
}
main dl div.undisclosed dd {
  background-color: #0F4196;
}
main table {
  position: relative;
  font-size: 0.875rem;
  display: grid;
  border-collapse: collapse;
  min-width: 100%;
  grid-template-columns: repeat(2, fit-content(24rem)) repeat(5, minmax(4rem, 2fr)) fit-content(24rem);
}
main table thead,
main table tbody,
main table tr {
  display: contents;
}
main table thead th::after {
  content: "";
  position: absolute;
  inset: -1px 0 0;
  background-color: #ffffff;
  border-left: 1px solid rgba(153, 153, 153, 0.2);
  z-index: -1;
}
main table thead th:nth-child(2):after {
  border-right: 1px solid #000000;
}
main table thead th:first-child:after {
  border-left: none;
}
main table thead tr {
  position: sticky;
  top: 6rem;
}
main table td + td, main table th + th {
  border-inline-start: 1px rgba(153, 153, 153, 0.2) solid;
}
main table th, main table td {
  min-width: 1.5rem;
  padding: var(--half-gap) var(--quarter-gap);
  border-block-end: 1px rgba(153, 153, 153, 0.2) solid;
}
main table td {
  min-height: 5rem;
}
main table th {
  position: sticky;
  display: flex;
  align-items: flex-end;
  top: 0;
  height: 7rem;
  text-align: left;
  font-weight: bolder;
  padding: var(--half-gap) var(--quarter-gap);
  padding-block-start: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  border: none;
  z-index: 2;
}
main table .section-label {
  position: sticky;
  box-sizing: border-box;
  top: calc(7rem - 1px);
  min-height: unset;
  grid-column-start: 1;
  grid-column-end: 9;
  padding-block: var(--quarter-gap);
  border: none;
  font-weight: bold;
  box-shadow: 0 0.1rem 0 rgba(153, 153, 153, 0.2);
  z-index: 1;
}
main table .abs {
  overflow: visible;
  border-right: 0;
  border-left: 0;
  border-bottom: 1px solid #000000;
}
main table .abs span {
  position: absolute;
  transform-origin: bottom left;
  transform: rotate(-55deg);
  bottom: 0.875rem;
  left: 1.25rem;
  z-index: 1;
}
main table tr.immunology td div {
  background-color: #732D87;
  color: #732D87;
}
main table tr.immunology .section-label {
  background-color: #732D87;
  color: #ffffff;
}
main table tr.infectious td div {
  background-color: #E16E1E;
  color: #E16E1E;
}
main table tr.infectious .section-label {
  background-color: #E16E1E;
  color: #ffffff;
}
main table tr.oncology td div {
  background-color: #237846;
  color: #237846;
}
main table tr.oncology .section-label {
  background-color: #237846;
  color: #ffffff;
}
main table tr.cardio td div {
  background-color: #666666;
  color: #666666;
}
main table tr.cardio .section-label {
  background-color: #666666;
  color: #ffffff;
}
main table tr.undisclosed td div {
  background-color: #0F4196;
  color: #0F4196;
}
main table tr.undisclosed .section-label {
  background-color: #0F4196;
  color: #ffffff;
}
main table tr td {
  display: flex;
  align-items: center;
  position: relative;
  overflow: visible;
}
main table tr td img, main table tr td .img {
  height: auto;
  width: 6rem;
  margin: auto 0.875rem;
}
main table tr td:nth-child(2) {
  border-inline-end: 1px #000000 solid;
  padding-inline-end: 2rem;
}
main table tr td:nth-child(3), main table tr th:nth-child(3) {
  border-inline-start: none;
}
main table tr td:nth-child(n+3) {
  font-size: 0;
  padding-inline: 0;
}
main table tr td .bar {
  position: absolute;
  width: 0;
  inset: auto -1px;
  background-color: #732D87;
  height: 2rem;
  box-shadow: 0 0.1rem 0 rgba(0, 0, 0, 0.1882352941);
}
main table tr td .bar.animate {
  animation: grow 0.22s forwards linear;
}
main table tr td:nth-child(3) .bar {
  animation-delay: calc(0.22s);
  inset: auto 0;
}
main table tr td:nth-child(4) .bar {
  animation-delay: calc(0.22s * 2);
}
main table tr td:nth-child(5) .bar {
  animation-delay: calc(0.22s * 3);
}
main table tr td:nth-child(6) .bar {
  animation-delay: calc(0.22s * 4);
}
main table tr td:nth-child(7) .bar {
  animation-delay: calc(0.22s * 5);
}
main table tr td + td:has(:not(.bar)) .bar {
  max-width: 65%;
  display: flex;
  align-items: center;
  border-radius: 0 1.5rem 1.5rem 0;
}
main table tr td.cap .bar {
  max-width: 65%;
  display: flex;
  align-items: center;
  border-radius: 0 1.5rem 1.5rem 0;
}

@media (min-width: 6144px) {
  :root {
    --gap: 16rem;
    font-size: 3rem;
  }
}
@media (min-width: 1920px) {
  main table th {
    height: 6rem !important;
  }
  main table .section-label {
    top: calc(6rem - 1px) !important;
  }
}
@media (min-width: 1280px) {
  main table .abs span {
    position: relative;
    left: 0;
    bottom: 0;
    transform: none;
  }
  main table th {
    height: 4rem;
  }
  main table .section-label {
    top: calc(4rem - 1px);
  }
}
@media (max-width: 6144px) {
  :root {
    --gap: 8rem;
    font-size: 2.5rem;
  }
}
@media (max-width: 3840px) {
  :root {
    --gap: 6rem;
    font-size: 2rem;
  }
}
@media (max-width: 2560px) {
  :root {
    --gap: 4rem;
    font-size: 1.5rem;
  }
}
@media (max-width: 1920px) {
  :root {
    --gap: 3rem;
    font-size: 1.25rem;
  }
}
@media (max-width: 1680px) {
  :root {
    --gap: 2.5rem;
    font-size: 1.125rem;
  }
}
@media (max-width: 1280px) {
  :root {
    --gap: 2.25rem;
  }
}
@media (max-width: 980px) {
  :root {
    --gap: 1.5rem;
  }
  .secret {
    grid-column-start: 1;
    grid-column-end: 6;
    justify-content: flex-start;
    padding-inline-start: var(--gap) !important;
  }
  main {
    margin: 0;
  }
  main .cta {
    margin-inline: var(--gap);
  }
  main table {
    margin: 0;
    row-gap: var(--gap);
    grid-template-columns: repeat(5, 1fr);
  }
  main table thead {
    display: block;
    height: 0;
    opacity: 0;
    overflow: hidden;
  }
  main table tr td.section-label {
    position: sticky;
    top: -1px;
    padding: var(--gap);
    margin: 0 0 2rem !important;
  }
  main table tr td {
    min-height: 2rem;
    padding: 0;
    margin-block: 0;
  }
  main table tr td .bar span {
    font-size: 1rem;
    white-space: nowrap;
    position: absolute;
    right: -100%;
    left: 0;
    font-weight: 900;
    opacity: 0;
  }
  main table tr td .bar .txt.animate {
    animation: blink-in 0.4s ease-in-out forwards;
    animation-delay: calc(0.22s * 6);
  }
  main table tr td img, main table tr td .img {
    margin: 0.5rem 0 0;
  }
  main table tr td div.bar {
    box-shadow: none;
  }
  main table tr td, main table tr td:nth-child(2) {
    border: 0;
  }
  main table tr td:first-child,
  main table tr td:last-child,
  main table tr td:nth-child(2) {
    grid-column-start: 1;
    grid-column-end: 6;
    min-height: unset;
    margin-inline: var(--gap);
  }
  main table tr td:first-child {
    font-size: 1rem;
  }
  main table tr td:last-child {
    margin-block-end: 2rem;
  }
  main table tr td:nth-child(3) {
    border-left: 1px solid #000000;
  }
  main table tr td:nth-child(2) + td:has(:not(.bar)) .bar,
  main table tr td:nth-child(3) + td:has(:not(.bar)) .bar {
    max-width: 100%;
  }
  main table tr td:nth-child(2) + td:has(:not(.bar)) .bar span,
  main table tr td:nth-child(3) + td:has(:not(.bar)) .bar span {
    left: 100%;
    margin-inline-start: var(--gap);
  }
  main table tr td:nth-child(3).cap .bar,
  main table tr td:nth-child(4).cap .bar {
    max-width: 100%;
  }
  main table tr td:nth-child(3).cap .bar span,
  main table tr td:nth-child(4).cap .bar span {
    left: 100%;
    margin-inline-start: var(--gap);
  }
  main table tr td:nth-child(5) + td:has(:not(.bar)) .bar span,
  main table tr td:nth-child(6) + td:has(:not(.bar)) .bar span,
  main table tr td:nth-child(7) + td:has(:not(.bar)) .bar span {
    color: #ffffff;
    left: auto;
    right: var(--double-gap);
  }
  main table tr td:nth-child(5).cap .bar span,
  main table tr td:nth-child(6).cap .bar span,
  main table tr td:nth-child(7).cap .bar span {
    color: #ffffff;
    left: auto;
    right: var(--double-gap);
  }
}
@media (max-width: 700px) {
  :root {
    --gap: 1rem;
  }
  .t1 {
    font-size: 4rem;
  }
  .t2 {
    font-size: 3rem;
  }
}
@media (max-width: 501px) {
  :root {
    --gap: 0.5rem;
  }
  main dl {
    flex-direction: column;
    align-items: flex-start;
  }
  main dl div {
    gap: var(--gap);
  }
}
@media (max-width: 381px) {
  :root {
    --gap: 0.25rem;
  }
  main table tr td:nth-child(5) + td:has(:not(.bar)) .bar span,
  main table tr td:nth-child(6) + td:has(:not(.bar)) .bar span,
  main table tr td:nth-child(7) + td:has(:not(.bar)) .bar span {
    color: #ffffff;
    margin-inline-end: var(--double-gap);
  }
  main table tr td:nth-child(5).cap .bar span,
  main table tr td:nth-child(6).cap .bar span,
  main table tr td:nth-child(7).cap .bar span {
    color: #ffffff;
    margin-inline-end: var(--double-gap);
  }
}

/*# sourceMappingURL=main.css.map */
