@import 'scale';
@import 'fonts.scss';
@import 'colors.scss';

@keyframes grow {
  0% {
    width: 0;
  }
  100% {
    width: calc(100% + 2px);
  }
}
@keyframes blink-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  } 
}

$grow-time: 0.14s;

// define inline spacing using gaps
:root {
  --gap: #{$xl};

  --quarter-gap: calc(var(--gap) / 4);
  --half-gap: calc(var(--gap) / 2);

  --double-gap: calc(var(--gap) * 2);
  --quad-gap: calc(var(--gap) * 4);
}
* {
  box-sizing: border-box;
  border-collapse: collapse;
}
dl,
dt,
dd,
ul,
li,
menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
}

.no-wrap {
  white-space: nowrap;
}

button {
  background: none;
  padding: 0;
  border: none;
  cursor: pointer;
}

body,
input,
button {
  @include default-font;
  margin: 0;
}

body {
  position: relative;
  background-color: $white;
}

nav {
}

main {
  margin: var(--gap);
  dl {
    border: 1px $ice solid;
    border-radius: $xs;
    display: flex;
    padding: var(--gap) var(--half-gap);
    gap: var(--gap);
    font-size: $xs;
    div {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: var(--quarter-gap);
      flex-wrap: wrap;
      dt {
        text-align: center;
        word-break: keep-all;
        margin-block-end: auto;
      }
      dd {
        width: $xs;
        height: $xs;
        margin-block: auto;
        border-radius: 50%;
        background-color: $black;
        flex-shrink: 0;
        font-size: 0;
        order: -1;
      }
    }
    div.immunology {
      dd {
        background-color: $purple;
      }
    }
    div.infectious {
      dd {
        background-color: $green;
      }
    }
    div.oncology {
      dd {
        background-color: $orange;
      }
    }
    div.cardio {
      dd {
        background-color: $blue;
      }
    }
    div.undisclosed {
      dd {
        background-color: $grey;
      }
    }
  }

  table {
    position: relative;
    // margin-block-start: var(--double-gap);
    font-size: $xs;
    display: grid;
    border-collapse: collapse;
    min-width: 100%;
    grid-template-columns:
    fit-content($maxxx)
    fit-content($maxxx)
    minmax($massive, 2fr)
    minmax($massive, 2fr)
    minmax($massive, 2fr)
    minmax($massive, 2fr)
    minmax($massive, 2fr)
    fit-content($maxxx);
    thead,
    tbody,
    tr {
      display: contents;
    }
    thead th::after {
      content: "";
      position: absolute;
      inset: -1px 0 0;
      background-color: $white;
      border-left: 1px solid $ice;
      border-bottom: 1px solid $black;
      z-index: -1;
    }
    thead th:nth-child(2):after {
      border-right: 1px solid $black;
    }
    thead th:first-child:after {
      border-left: none;
    }
    // thead th:last-child::after, thead th:nth-child(1)::after, thead th:nth-child(2)::after, thead th:nth-child(3)::after {
    //   border: 0;
    // }
    thead tr {
      position: sticky;
      top: 6rem;
    }
    td + td, th + th {
      border-inline-start: 1px $ice solid;
    }
    th, td {
      min-width: $lg;
      padding: var(--half-gap) var(--quarter-gap);
      border-block-end: 1px $ice solid;
    }
    td {
      min-height: 5rem;
    }
    th {
      position: sticky;
      display: flex;
      align-items: flex-end;
      top: 0;
      height: 6rem;
      text-align: left;
      font-weight: bolder;
      padding: var(--half-gap) var(--quarter-gap);
      padding-block-start: 0;
      text-overflow: ellipsis;
      white-space: nowrap;
      border: none;
      z-index: 2;
    }
    .section-label {
      position: sticky;
      box-sizing: border-box;
      top: 6rem;
      min-height: unset;
      grid-column-start: 1;
      grid-column-end: 9;
      padding-block: var(--quarter-gap);
      border: none;
      box-shadow: 0 $lil 0 #00000015;
      z-index: 1;
    }
    .abs {
      overflow: visible;
      border-right: 0;
      border-left: 0;
      span {
        position: absolute;
        transform-origin: bottom left;
        transform: rotate(-55deg);
        bottom: var(--quarter-gap);
        left: var(--half-gap);
        z-index: 1;
      }
    }
    tr.immunology {
      td {
        div {
          background-color: $purple;
          color: $purple;
        }
      }
      .section-label {
        background-color: $purple;
        color: $white;
      }
    }
    tr.infectious {
      td {
        div {
          background-color: $orange;
          color: $orange;
        }
      }
      .section-label {
        background-color: $orange;
        color: $white;
      }
    }
    tr.oncology {
      td {
        div {
          background-color: $green;
          color: $green;
        }
      }
      .section-label {
        background-color: $green;
        color: $white;
      }
    }
    tr.cardio {
      td {
        div {
          background-color: $blue;
          color: $blue;
        }
      }
      .section-label {
        background-color: $blue;
        color: $white;
      }
    }
    tr.undisclosed {
      td {
        div {
          background-color: $grey;
          color: $grey;
        }
      }
      .section-label {
        background-color: $grey;
        color: $white;
      }
    }
    tr {
      td {
        display: flex;
        align-items: center;
        position: relative;
        overflow: visible;
        img, .img {
          height: $xxl;
          aspect-ratio: 1.5;
          border: 1px solid $black;
          border-radius: $xxs;
          margin: auto;
        }
      }
      td:first-child {
        font-weight: bolder;
      }
      td:nth-child(2) {
        border-inline-end: 1px $black solid;
        padding-inline-end: $xl;
      }
      td:nth-child(3), th:nth-child(3) {
        border-inline-start: none;
      }
      td:nth-child(n+3) {
        font-size: 0;
        padding-inline: 0;
      }
      td .bar {
        position: absolute;
        width: 0;
        inset: auto -1px;
        background-color: $purple;
        height: $xl;
        box-shadow: 0 $tiny 0 #00000030;
      }
      td .bar.animate {
        animation: grow $grow-time forwards linear;
      }
      td:nth-child(3) .bar {
        animation-delay: calc(#{$grow-time});
        inset: auto 0;
      }
      td:nth-child(4) .bar {
        animation-delay: calc(#{$grow-time} * 2);
      }
      td:nth-child(5) .bar {
        animation-delay: calc(#{$grow-time} * 3);
      }
      td:nth-child(6) .bar {
        animation-delay: calc(#{$grow-time} * 4);
      }
      td:nth-child(7) .bar {
        animation-delay: calc(#{$grow-time} * 5);
      }
      td + td:has(:not(.bar)) {
        .bar {
          max-width: 65%;
          display: flex;
          align-items: center;
          border-radius: 0 $lg $lg 0;
        }
      }
      // FF doesn't support the :not selector
      td.cap {
        .bar {
          max-width: 65%;
          display: flex;
          align-items: center;
          border-radius: 0 $lg $lg 0;
        }
      }
    }
  }
}

footer {
}

@media (min-width: 6144px) {  
  :root {
    --gap: #{$maxx};
    font-size: #{$huge};
  }
}

@media (min-width: 1280px) {
  main {
    table {
      .abs {
        span {
          position: relative;
          left:0;
          bottom: 0;
          transform: none;
        }
      }
    }
  }
}

@media (max-width: 6144px) {
  :root {
    --gap: #{$max};
    font-size: $xxxl;
  }
}

@media (max-width: 3840px) {
  :root {
    --gap: #{$giant};
    font-size: $xl;
  }
}

@media (max-width: 2560px) {
  :root {
    --gap: #{$massive};
    font-size: $lg;
  }
}

@media (max-width: 1920px) {
  :root {
    --gap: #{$huge};
    font-size: $bg;
  }
}

@media (max-width: 1680px) {
  :root {
    --gap: #{$xxxl};
    font-size: $md;
  }
}

@media (max-width: 1280px) {
  :root {
    --gap: #{$xxl};
  }
}


@media (max-width: 1024px) {
  
}

@media (max-width: 820px) {
  :root {
    --gap: #{$lg};
  }
  main {
    margin: 0;
    table {
      margin: 0;
      row-gap: var(--gap);
      grid-template-columns: 
      repeat(5, 1fr);
      thead {
        display: block;
        height: 0;
        opacity: 0;
        overflow: hidden;
      }
      tr {
        td.section-label {
          position: sticky;
          top: 0;
          padding:  var(--gap);
          margin: 0 0 $xl!important;
        }
        td {
          min-height: $xl;
          padding: 0;
          margin-block: 0;
          .bar {
            span {
              font-size: $reg;
              white-space: nowrap;
              position: absolute;
              right: -100%;
              left: 0;
              font-weight: 900;
              opacity: 0;
            }
            .txt.animate {
              animation: blink-in 0.4s ease-in-out forwards;
              animation-delay: calc(#{$grow-time} * 6);
            }
          }
          img, .img {
            margin: $xxs 0 0;
          }
          div.bar {
            box-shadow: none;
          }
        }
        td, td:nth-child(2) {
          border: 0;
        }
        td:first-child,
        td:last-child,
        td:nth-child(2) {
          grid-column-start: 1;
          grid-column-end: 6;
          min-height: unset;
          margin-inline: var(--gap);
        }
        td:first-child {
          font-size: $reg;
        }
        td:last-child {
          margin-block-end: $xl;
        }
        td:nth-child(3) {
          border-left: 1px solid $black;
        }
        td:nth-child(2) + td:has(:not(.bar)), 
        td:nth-child(3) + td:has(:not(.bar)) {
          .bar {
            max-width: 100%;
            span {
              left: 100%;
              margin-inline-start: var(--gap);
            }
          }
        }
        td:nth-child(3).cap, 
        td:nth-child(4).cap {
          .bar {
            max-width: 100%;
            span {
              left: 100%;
              margin-inline-start: var(- -gap);
            }
          }
        }
        td:nth-child(5) + td:has(:not(.bar)),
        td:nth-child(6) + td:has(:not(.bar)),
        td:nth-child(7) + td:has(:not(.bar)) {
          .bar {
            span {
              color: $white;
              left: auto;
              right: var(--double-gap);
            }
          }
        }
        td:nth-child(5).cap, 
        td:nth-child(6).cap,
        td:nth-child(7).cap  {
          .bar {
            span {
              color: $white;
              left: auto;
              right: var(--double-gap);
            }
          }
        }
      } 
    }
  }
}


@media (max-width: 700px) {
  :root {
    --gap: #{$reg};
  }
  .t1 {
    font-size: $massive;
  }
  .t2 {
    font-size: $huge;
  }
}

@media (max-width: 501px) {
  :root {
    --gap: #{$xxs};
  }
  main {
    dl {
      flex-direction: column;
      align-items: flex-start;
      div {
        gap: var(--gap);
      }
    }
  }
}

@media (max-width: 381px) {
  :root {
    --gap: #{$lil};
  }
  main {
    table {
      tr {
        td:nth-child(5) + td:has(:not(.bar)),
        td:nth-child(6) + td:has(:not(.bar)),
        td:nth-child(7) + td:has(:not(.bar)) {
          .bar {
            span {
              color: $white;
              margin-inline-end: var(--double-gap);
            }
          }
        }
        td:nth-child(5).cap,
        td:nth-child(6).cap,
        td:nth-child(7).cap    {
          .bar {
            span {
              color: $white;
              margin-inline-end: var(--double-gap);
            }
          }
        }
      }
    }
  }
}